@import "tailwindcss";

.wrapper {
	max-width: 1300px;
	margin: auto;
}
.navigation-link {
	transition: color 0.3s;
}
.navigation-link:hover {
	color: #f8b24b;
}
.wrapper-1000 {
	max-width: 1140px;
	margin: 0 auto;
}

.artist-calc-width {
	max-width: calc(20%);
	width: 100%;
}

@media screen and (max-width: 1212px) {
	.artist-calc-width {
		max-width: calc(30%);
	}
}

@media screen and (max-width: 829px) {
	.artist-calc-width {
		max-width: calc(45%);
	}
}

@media screen and (max-width: 550px) {
	.artist-calc-width {
		max-width: 100%;
	}
}
